.pl-layout {
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.pl-sidebar {
  background-color: #fff;
}

.pl-content {
  display: grid;
  grid-template-rows: 1fr 7fr 0.5fr;
  height: 100%;
}

.pl-header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-outlet {
  margin: 1rem;
}

.pl-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
