.container {
  display: grid;
  grid-template-rows: 1fr 6fr 0.5fr;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  justify-content: space-between;
  padding: 0 4rem 0 4rem;
}

.grid {
  padding: 1rem 0;
}

.footer {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}
